.formControl.error textarea,
.formControl.error input {
    border: solid red 2px
}

.formControl.error span {
    color: red
}
/*общая для форм ошибка(логин и пароль, чтобы не указывать что именно из них неправльно)*/
.formSummaryError {
    border: solid red 2px;
    padding: 4px;
    color: indianred;
}