.nav {
    grid-area: n;
    background-color: #edeef0;
    padding: 15px;
}

.item {

}

.item:hover {
    background-color: #99a5c2;
    transition: background-color .5s ease;
}

.item a {
    text-decoration: none;
    color: #285473;
}

.item a.activeLink {
    color: #d00fc6;
}