.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;

    padding: 10px;
}

.dialogsItem {

}

.dialogsItem .dialog {

}

.dialog img {
    width: 25%;
    height: 25%;
    border-radius: 50%;
}

.messages {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.messages .message {

}